<table class="person-info">
  <tr class="row">
    <th class="col-2">ID</th>
    <th class="col-2">First Name</th>
    <th class="col-2">Last Name</th>
    <th class="col-2">Age</th>
    <th class="col-2">Gender</th>
    <th class="col-2">Country</th>
  </tr>
  {{#each persons}}
  <tr class="row">
    <td class="col-2">{{this.id}}</td>
    <td class="col-2">{{this.first_name}}</td>
    <td class="col-2">{{this.last_name}}</td>
    <td class="col-2">{{this.age}}</td>
    <td class="col-2">{{this.gender}}</td>
    <td class="col-2">{{this.country}}</td>
  </tr>
  {{/each}}
</table>